*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(240, 240, 240);
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.content{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-view{
    border-radius: 20px;
    width: 280px;
    height: 600px;
    background: #fff;
    position: relative;
    padding: 20px;

}

.header{
    display: flex;
    justify-content: space-between;
}

.banner{
    position: relative;
    height: 50vh;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    background: rgba(0, 0, 255, 0.144);

}

.imgBx{
    position: relative;
    margin-top: 20px;
    height: 250px;
    padding: 16px;


}

.imgBx .img1{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.imgBx .img1 img{
    width: 100%;
    height: 100%;
    
}
 .imgTop{
    top: 10%;
    left: 100px;
    width: 50px;
    height: 50px;


 }

.imgBottom{
    top: 30%;
    left: 40px;
    bottom: 0;
    width: 60px;
    height: 60px;

}

.imgLeft{
    top: 50%;
    right: 100px;
    bottom: 0;
    width: 45px;
    height: 45px;
}

.imgright{
    top: 25%;
    right: 30px;
    bottom: 0;
    width: 70px;
    height: 70px;


}

button{
    background: none;
    outline: none;
}

.bottom{
    margin-top: 20px;
}

.bottom .fightbtn button{
   padding: 6px;
   border-radius: 4px;
   font-weight: 500;
   border: none;
   letter-spacing: 1px;
   background: rgba(0, 0, 255, 0.144);


}

.bottom .ticket{
    font-weight: 200;
    font-size: 1.5em;
}

.bottom .booking{
    margin-top: -6px;
    margin-bottom: 8px;
    font-size: 1.7em;
}

.bottom .actionBtn button{
    padding: 10px 16px;
    font-weight: 600;
    background: #111;
    color: #fff;
    border: none;
    letter-spacing: 2px;
    border-radius: 4px;
    cursor: pointer;
}

/* second view */

.view2-title{
    margin-top: 30px;
}

.view2-title h4{
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
}

.view2-form input{
    width: 100%;
    height: 40px;
    display: block;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.view2-form #input1{
    border-bottom: 1px solid #ff4500;

}

.view2-form #input2{
    border-bottom: 1px solid #800080;

}

.view2-form #input3{
    border-bottom: 1px solid rgba(0, 0, 255, 015);

}

.formBtn{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.formBtn button{
    border-radius: 6px;
    letter-spacing: 1px;
    margin: 2px;
}

.formBtn #search{
  padding: 8px 6px;
  background-color: #111;
  border: none;
  color: #fff;  
}

.formBtn #client{
    padding: 8px 10px;
    position: relative;
    border: none;
    border: 1px solid #800080;
}


.view-listing1{
    position: absolute;
    background: #111;
    width: 100%;
    height: 37vh;
    left: 0;
    bottom: 0;
    border-radius: 20px;
    padding: inherit;
    color: #fff;
}

.view-listing1 .listing-title h6{
  font-size: 17px;
  font-weight: 100;
}

.view-listing1 .list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.view-listing1 .list-item .item-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.view-listing1 .list-item .item-left .item-img{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 6px;
}

 .item-img-title h5{
  font-size: 14px;
  font-weight: 300;
}

.item-img-title p{
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  


.view-listing1 .list-item .item-left .item-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.fa-star{
    font-size: 10px;
    margin-right: 6px;
}

.item-right h6{
    font-size: 25px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* view three */
.view3{
    background: #111;
}

.search-menu{
    background: #dbdbdb4b;
    height: 45px;
    padding-top: 2px ;
    padding-bottom: 2px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.search-menu div{
    font-size: 12px;
    padding: 12px 10px;
    list-style: none;
    color: #fff;
    height: 100%;
}

.Active{
    background: #111;
}

/* section 3 */

.entreprise-list{
    display: flex;
    height: 35vh;
    margin-top: 20px;
}

.entreprise-list .entrep-bloc1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.entrep-bloc2{
    position: relative;
    width: 2%;

}
.entrep-bloc2 .axis{
    background: #fff;
    height: 90%;
    margin: 10px 0;
    width: 1px;
}
.entrep-bloc2 .ball{
    position: absolute;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
}

.ball1{
    top: 25px;
    left: -4px;
}

.ball2{
    top: 85px;
    left: -4px;
}


.ball3{
    top: 146px;
    left: -4px;
}

.ball4{
    top: 205px;
    left: -4px;
}


/* block3 */

.entrep-bloc3{
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.entrep-bloc3-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.entrep-bloc3-item div p{
    font-size: 11px;
}

.view3-btns{
    display: flex;
    justify-content: space-between;
}

.view3-btns button{
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 11px;
    border: 1px solid purple;
}

.best-travel{
    margin-top: 10px;
    height: 12vh;
    padding: 8px;
    border-radius: 6px;
    background: #f1f1f10e;

}

.best-travel h6{
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}

.best-travel .view3-input input{
    padding: 6px;
    background: inherit;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
}

.best-travel .view3-input .best-travel-btn{
   padding: 6px;
   color: #f1f1f1f1;
   width: 40px;
   border-radius: 3px;
   border: none;
   border: 1px solid purple;
   margin-left: 4px; 
}
